:root { 
--white_A700_7f:#ffffff7f; 
--white_A700_b2:#ffffffb2; 
--blue_gray_50:#f1f1f1; 
--blue_gray_100_01:#cbdcee; 
--blue_gray_100_02:#cbddee; 
--red_400:#eb5757; 
--blue_gray_900_4c:#193a4b4c; 
--light_blue_900:#006699; 
--gray_50:#f8f8f8; 
--blue_gray_200_66:#abbed166; 
--black_900_01:#090909; 
--black_900:#000000; 
--blue_gray_100_7f:#d9d9d97f; 
--yellow_900:#e17f0d; 
--blue_gray_800:#2b455d; 
--blue_gray_900:#2f2f2f; 
--gray_600:#828282; 
--gray_900_02:#171e24; 
--gray_900_03:#211f1f; 
--blue_gray_200:#abbed1; 
--gray_400:#bdbdbd; 
--blue_gray_100:#d9d9d9; 
--gray_600_01:#707070; 
--blue_gray_400:#88939e; 
--gray_800:#4d4d4d; 
--indigo_50:#e5edf6; 
--gray_900:#212121; 
--gray_900_01:#252525; 
--orange_700:#e17d08; 
--teal_50:#e3e9ec; 
--orange_400:#ffa826; 
--gray_300:#d5e4ec; 
--gray_300_01:#e2e2e2; 
--gray_100:#f5f7f9; 
--white_A700_00:#ffffff00; 
--blue_gray_100_4c:#d9d9d94c; 
--white_A700_01:#fffffe; 
--gray_100_01:#f4f2f2; 
--blue_gray_400_01:#888888; 
--white_A700:#ffffff; 
--orange_700_01:#e48800; 
}